// Social Links Component

.social-links {
  display: flex;
  gap: 0.333333em;
  list-style: none;
  margin: 0;
  padding: 0;
  
  a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 2.5em;
    height: 2.5em;
    border-radius: $border-radius-small;
    background-color: transparent;
    color: $color-contrast;
    text-decoration: none;
    border: 1px solid $color-contrast-4;
    transition: all 0.1s linear;
    
    &:hover {
      background-color: $color-contrast;
      color: $color-base;
      border-color: $color-contrast;
    }
    
    svg {
      width: 1em;
      height: 1em;
      transform: scale(80%);
      fill: currentColor;
    }
  }
}