// Typography components

// Font loading
@font-face {
  font-family: 'Newsreader';
  src: url('../fonts/newsreader/newsreader-var.woff2') format('woff2-variations');
  font-weight: 200 900;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Newsreader';
  src: url('../fonts/newsreader/newsreader-var-italic.woff2') format('woff2-variations');
  font-weight: 200 900;
  font-style: italic;
  font-stretch: normal;
  font-display: swap;
}

// Reading time indicator
.reading-time {
  color: $color-contrast-2;
  font-family: $font-family-system-sans;
  font-size: $font-size-x-small;
  font-weight: 500;
}

// Meta text styles
.post-meta,
.page-meta {
  color: $color-contrast-2;
  font-family: $font-family-system-sans;
  font-size: $font-size-small;
  font-weight: 400;
  
  a {
    color: inherit;
    text-decoration: none;
    
    &:hover {
      text-decoration: underline;
    }
  }
}

// Post date
.post-date {
  color: $color-contrast-2;
  font-family: $font-family-system-sans;
  font-size: $font-size-small;
  font-weight: 400;
  
  a {
    color: inherit;
    text-decoration: none;
    
    &:hover {
      text-decoration: underline;
    }
  }
}

// Post author
.post-author {
  font-family: $font-family-system-sans;
  font-size: $font-size-small;
  font-weight: 500;
  
  a {
    text-decoration: none;
    
    &:hover {
      text-decoration: underline;
    }
  }
}

// Post excerpt
.post-excerpt {
  line-height: inherit;
  
  // Clamp utility classes (converted from WordPress block styles)
  &.clamp-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  
  &.clamp-3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

// Site title
.site-title {
  font-family: $font-family-system-sans;
  font-size: $font-size-small;
  font-weight: 500;
  line-height: inherit;
  
  a {
    text-decoration: none;
    
    &:hover {
      text-decoration: underline;
    }
  }
}

// Site tagline
.site-tagline {
  color: $color-contrast-2;
  font-family: $font-family-system-sans;
  font-size: $font-size-small;
  line-height: inherit;
}